@model List<E_ATM.Models.Transaction>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Transaction History</h2>

@foreach (var i in Model)
{
    <p> @i.Amount</p>
}

